[submodule "mf_action_planner"]
	path = mf_action_planner
	url = https://github.com/BetterOIer/mf_action_planner.git
[submodule "Motion_control_accurate"]
	path = Motion_control_accurate
	url = https://github.com/fjienan/Motion_control_accurate.git
# [submodule "ARES_deck"]
# 	path = ARES_deck
# 	url = https://github.com/YiyuanYing/ARES_deck.git
[submodule "odin_slam"]
	path = odin_slam
	url = https://github.com/SUSTech-Algorithm/odin_slam.git
# [submodule "nav2_simple_ws"]
# 	path = nav2_simple_ws
# 	url = https://github.com/gsp999/nav2_simple_ws.git
[submodule "pick_action"]
	path = pick_action
	url = https://github.com/waliwuao/pick_action.git